.row {
  cursor: pointer;
  &:hover {

  }
}

.categoryName,
.planned,
.received {
  padding: 10px 15px;
  font-size: 1rem;
  text-align: left;
  border-bottom: 1px solid #eee;
}

// Optional: Apply specific styling for income/expense columns if needed
.received {
  font-weight: bold;
  color: #333;
}

.planned {
  font-weight: normal;
  color: #555;
}
