.row {
  transition: background 0.3s ease;
  &:hover {
    background: rgba(255, 221, 87, 0.2); // Subtle highlight on hover
  }
}

.categoryName,
.planned,
.received {
  padding: 10px 15px;
  font-size: 1rem;
  text-align: left;
  border-bottom: 1px solid #eee;
}

// Optional: Apply specific styling for income/expense columns if needed
.received {
  font-weight: bold;
  color: #333;
}

.planned {
  font-weight: normal;
  color: #555;
}
