.transactions_container {
  margin-top: 5%;
  h2 {
    text-align: center;
  }
  .table {
    width: 1000px;
  }
  .green {
    color: green;
  }
  .red {
    color: red;
    &::before {
      content: '-';
    }
  }
}