.allocation_container {
  display: flex;
  justify-content: space-between;
  height: 60px;

  align-items: center;

  gap: 1rem;
  .category {
    color: grey;
    font-size: small;
  }
}

.allocation_buttons {
  display: flex;
  justify-content: space-around;
}


.manual_allocation {
  border: none;
  background-color: lightgrey;
  font-size: small;
  border-radius: 5%;
  padding: 10px;
  box-shadow: 1px 1px #888888;
  &:hover {
    background-color: rgb(181, 179, 179);
  }
}
.leftToBudgetPercent {
  font-size: .75em;
  color: gray;
}



.allocation_container > .category {
  flex: 1;
  align-self: center;
  margin-top: 16px;
}

.allocation_container > :nth-child(2) {
  flex: 2; // This is your RangeInput component
}